<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.js.ens.leveller.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.js.ens.leveller.Perspective"
            id="com.js.ens.leveller.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.js.ens.leveller.View"
            id="com.js.ens.leveller.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.js.ens.leveller.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="com.js.ens.leveller.command.New"
                  label="New">
            </command>
            <command
                  commandId="com.js.ens.leveller.command.Open"
                  label="Open">
            </command>
            <command
                  commandId="com.js.ens.leveller.command.Save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="com.js.ens.leveller.command.SaveAs"
                  label="Save As"
                  style="push">
            </command>
            <command
                  commandId="com.js.ens.leveller.command.Export"
                  label="Export">
            </command>
            <command
                  commandId="com.js.ens.leveller.command.Result"
                  label="Result">
            </command>
            <separator
                  name="com.js.ens.leveller.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.js.ens.leveller.fileMenuHandler.File_NewHandler"
            id="com.js.ens.leveller.command.New"
            name="New">
      </command>
      <command
            defaultHandler="com.js.ens.leveller.fileMenuHandler.File_OpenHandler"
            id="com.js.ens.leveller.command.Open"
            name="Open">
      </command>
      <command
            defaultHandler="com.js.ens.leveller.fileMenuHandler.File_SaveHandler"
            id="com.js.ens.leveller.command.Save"
            name="Save">
      </command>
      <command
            defaultHandler="com.js.ens.leveller.fileMenuHandler.File_SaveAsHandler"
            id="com.js.ens.leveller.command.SaveAs"
            name="SaveAs">
      </command>
      <command
            defaultHandler="com.js.ens.leveller.fileMenuHandler.File_ExportHandler"
            id="com.js.ens.leveller.command.Export"
            name="Export">
      </command>
      <command
            defaultHandler="com.js.ens.leveller.fileMenuHandler.File_ResultHandler"
            id="com.js.ens.leveller.command.Result"
            name="Result">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.js.ens.leveller.application"
            name="ENS Leveller">
         <property
               name="appName"
               value="ENS Leveller">
         </property>
         <property
               name="windowImages"
               value="icons/ENS3232.PNG">
         </property>
      </product>
   </extension>

</plugin>
