<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.msc.adams.automation.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.msc.adams.automation.Perspective"
            id="com.msc.adams.automation.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.msc.adams.automation.View"
            icon="icons/MSClogo16x16x16.bmp"
            id="com.msc.adams.automation.view"
            name="Automation Process">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="com.msc.adams.automation.view"
               minimized="false"
               moveable="false"
               ratio="1.0f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="com.msc.adams.automation.command.new"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="com.msc.adams.automation.command.preference"
                  label="Preference"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.msc.adams.automation.handler.File_HandlerNew"
            id="com.msc.adams.automation.command.new"
            name="New">
      </command>
      <command
            defaultHandler="com.msc.adams.automation.handler.File_HandlerOpen"
            id="com.msc.adams.automation.command.open"
            name="Open">
      </command>
      <command
            defaultHandler="com.msc.adams.automation.handler.File_HandlerSave"
            id="com.msc.adams.automation.command.save"
            name="Save">
      </command>
      <command
            defaultHandler="com.msc.adams.automation.handler.File_HandlerPreference"
            id="com.msc.adams.automation.command.preference"
            name="Preference">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.msc.adams.automation.application"
            name="Wiper-Linkage_Analysis_Tool">
         <property
               name="appName"
               value="Wiper-Linkage_Analysis_Tool">
         </property>
         <property
               name="windowImages"
               value="icons/MSClogo.png">
         </property>
      </product>
   </extension>

</plugin>
